flowMC
ripplegw
jax>=0.4.12
jaxlib>=0.4.12
equinox>=0.10.6
optax>=0.1.5
evosax>=0.1.4
tqdm
mkdocs==1.6.1               # Main documentation generator.
mkdocs-material==9.7.1     # Theme
pymdown-extensions==10.20    # Markdown extensions e.g. to handle LaTeX.
mkdocstrings[python]==1.0.0        # Autogenerate documentation from docstrings.
mkdocs-jupyter==0.25.1       # Turn Jupyter Lab notebooks into webpages.
mkdocs-gen-files==0.6.0
mkdocs-literate-nav==0.6.2
